.fretboard {
  display: block;
  background: #ffffb3;
  border: #331a00;
  width: 80vw;
  position: relative;
  margin: 50px auto;
  border-radius: 12px;
  padding-bottom: 10px;
}

@media screen and (max-width: 900px) {
  .fretboard {
    width: 90vw;
    border-radius: 6px;
    margin: 15px auto 30px;
  }
  .fretboard.left-handed {
    left: -8px;
  }
  .fretboard:not(.left-handed) {
    right: -8px;
  }
}

.fretboard:not(.left-handed) .string-number {
  left: -50px;
}

.fretboard.left-handed .string-number {
  right: -50px;
}

.fretboard.left-handed {
  direction: rtl;
}

@media screen and (max-width: 900px) {
  .fretboard:not(.left-handed) .string-number {
    left: -15px;
  }
  
  .fretboard.left-handed .string-number {
    right: -15px;
  }
}

.fret-numbers {
  background: #996600;
  color: #fff2cc;
  display: flex;
  justify-content: space-around;
  height: 50px;
  align-items: center;
  font-size: 18px;
  margin-bottom: 15px;
  padding: 10px 20px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

@media screen and (max-width: 900px) {
  .fret-numbers {
    height: 30px;
    font-size: 12px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    padding: 10px 5px;
  }
}

.fret-number {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.string {
  position: relative;
  padding: 0 20px;
}

@media screen and (max-width: 900px) {
  .string {
    padding: 0 5px;
  }
} 

.string-number {
  background: #ffffb3;
  position: absolute;
  top: 5px;
  font-size: 18px;
  padding: 10px;
}

@media screen and (max-width: 900px) {
  .string-number {
    font-size: 13px;
    top: -6px;
    background: none;
    padding: 10px 0;
  }
} 

.frets {
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 10px;
  position: relative;
}

.frets:after {
  content: '';
  position: absolute;
  left: -10px;
  top: 50%;
  transform: translateY(-50%);
  height: 2px;
  right: -10px;
  background: brown;
  opacity: 0.3;
}

@media screen and (max-width: 900px) {
  .frets {
    height: 25px;
  }
  .frets:after {
    left: 0;
    right: 0;
  }
}

.fret {
  color: #fff2cc;
  background: #ac7339;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 10;
  opacity: 0.1;
}

@media screen and (max-width: 900px) {
  .fret {
    font-size: 12px;
    height: 22px;
    width: 22px;
  }
}

.fret.selected {
  opacity: 1;
}

.fret.root {
  background: #4d3400;
}

.settings {
  width: 60vw;
  margin: 0 auto;
  padding: 20px;
  border-radius: 8px;
  background: #ac7339;
  color: #fff2cc;
}

@media screen and (max-width: 900px) {
  .settings {
    width: 98vw;
    border-radius: 4px;
  }
}

.settings select {
  margin-left: 10px;
  margin-top: 4px;
  background: white;
  direction: ltr;
}

.settings > div:not(:last-of-type) {
  margin-bottom: 10px;
}

.settings__checkbox {
  display: flex;
  align-items: center;
}

.settings__checkbox input {
  margin: 0;
  font-size: 16px;
  margin-left: 5px;
  background: #ffffb3;
}

.settings-field {
  font-weight: 500;
}

.settings-field span {
  font-weight: 700;
}

.settings__scale-root {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.settings__scale-type {
  display: flex;
  align-items: center;
}

.settings__frets {
  display: flex;
  align-items: center;
}

.settings__tuning {
  display: flex;
  align-items: center;
}

.settings__tuning select {
  width: 36px;
  margin-left: 6px;
}